/* 승민 */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 세형 */

/* 홈 어젠다 */
.mbsc-event-group.mbsc-material {
  background: rgb(255, 255, 255);
}
/* 홈 +버튼 */
.MuiBox-root.css-in5br9 {
  z-index: 20;
}
/* 푸터  바텀메뉴 */
.MuiBottomNavigation-root.css-3mtf2r-MuiBottomNavigation-root {
  z-index: 20;
}
/* 푸터 바텀메뉴 */
.MuiBottomNavigation-root{
  background:#73baad;
}
/* 캘린더.윈도버전몇개더보기 */
.mbsc-windows.mbsc-calendar-text-more .mbsc-calendar-label-text{
  /* font-weight: 600; */
  content: url("./img/iconUnder.png"); 
}
/* 캘린더.윈도우.월화수목 */
.mbsc-windows.mbsc-calendar-body .mbsc-calendar-week-day{
  color: #0078d7;
}
/* 로그인화면 캐릭터 이미지 */
.greenihead{
  width:40%;
  margin:10%;
  margin-left:30.2%;
  margin-right:30.2%;
}
/* + 버튼 */
.css-1suf56w-MuiButtonBase-root-MuiFab-root{
  background: #73baad;
}
/* +버튼 틀 */
/* .css-in5br9{
background: #73baad;
} */
/* windows헤더 */  
.mbsc-windows.mbsc-calendar-button.mbsc-button.mbsc-font{
  color: #02826a;
font-weight: 600;
}
